html, body {
  font-family: "Della Respira", serif;
  font-size: 14px;
  color: "Della Respira", serif;
}

.btn-primary {
  background-color: #003e69;
  color: white;
}

.btn {
  font-family: "Roboto Condensed", sans-serif;
}

label {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
}

.bg-redup {
  background-color: lightgray;
}

.client-appBar {
  background-color: #003e69;
  color: #fec32f;
}

.client-appBar h1.display-4 {
  font-family: "Roboto Slab", serif;
  font-size: 36pt;
}

.client-appBar h3 {
  font-family: "Fjalla One", sans-serif;
}

.client-appBar #appLogo img {
  width: 120px;
}

.loket-appBar {
  background-color: #003e69;
  color: #fec32f;
}

.loket-appBar #appLogo {
  text-align: right;
}

.loket-appBar #appLogo img {
  width: 80px;
}

.page-title {
  font-family: "Fjalla One", sans-serif;
  color: #333333;
}

.table-bpn thead {
  background-color: #dfdfdf;
  color: #333333;
  font-weight: 400;
  font-size: 14px;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
  vertical-align: middle;
}

.table-bpn thead tr th {
  vertical-align: middle;
  border: 1px solid black;
}

.table-bpn tbody tr td, .table-bpn tbody tr th {
  border: 1px solid black;
  vertical-align: top;
}

.table-control {
  font-size: 32px;
  margin-right: 15px;
}

.ikon {
  font-size: 18px;
  margin: 0px 4px;
}

@media screen and (max-width: 768px) {
  .client-appBar h1.display-4 {
    font-size: 16pt;
  }
  .client-appBar h3 {
    font-size: 14pt;
  }
  .client-appBar #appLogo img {
    width: 60px;
  }
  .loket-appBar {
    text-align: center;
  }
  .loket-appBar #appLogo {
    text-align: center;
  }
  .loket-appBar #appLogo img {
    width: 40px;
  }
  .loket-appBar h1 {
    font-size: 14px;
  }
  .loket-appBar h3 {
    font-size: 11px;
  }
}
/*# sourceMappingURL=layout.css.map */