// color variables
$bpnYellow : #fec32f;
$bpnBlue : #003e69;
$bpnColor : rgb(51, 51, 51);
$bpnGray : rgb(223, 223, 223);
$abumuda : lightgray;

// Font variables
$bpnTitle : 'Roboto Slab', serif;
$bpnSubTitle : 'Fjalla One', sans-serif;
$bpnText : 'Della Respira', serif;
$bpnTableText : 'Roboto Condensed', sans-serif;

// Default Global Settings
html,body {
    font-family: $bpnText;
    font-size: 14px;
    color : $bpnText;
}
.btn-primary {
    background-color: $bpnBlue; color: white;
}
.btn { font-family: $bpnTableText;}

label { font-family: $bpnTableText; font-size: 14px;}

.bg-redup { background-color: $abumuda;}
// Home App Bar

.client-appBar{
    background-color: $bpnBlue;
    color: $bpnYellow;
    h1.display-4 { font-family: $bpnTitle; font-size: 36pt;}
    h3 { font-family: $bpnSubTitle;}
    #appLogo img { width: 120px; }
}


.loket-appBar{
    background-color: $bpnBlue;
    color: $bpnYellow;
    #appLogo{ text-align: right;}
    #appLogo img{ width: 80px;}
}

.page-title{
    font-family: $bpnSubTitle;
    color: $bpnColor;
}

.table-bpn{
    thead{
        background-color: $bpnGray;
        color: $bpnColor;
        font-weight: 400;
        font-size: 14px;
        font-family: $bpnTableText;
        text-align: center;
        vertical-align: middle;
        tr th{
            vertical-align: middle;
            border: 1px solid black;
        }
    }
    tbody{
        tr td, tr th{
            border: 1px solid black;
            vertical-align: top;
        }
    }
}
.table-control { font-size: 32px; margin-right: 15px; }

.ikon { font-size: 18px; margin: 0px 4px;}
// Ipad View
@media screen and ( max-width: 768px ){
    .client-appBar{
        h1.display-4 { font-size: 16pt;}
        h3 { font-size : 14pt; }
        #appLogo img { width: 60px; }
    }
    
    .loket-appBar{
        text-align: center;
        #appLogo { text-align: center;}
        #appLogo img { width: 40px;}
        h1 { font-size: 14px;}
        h3 { font-size: 11px;}
    }
}